.carousel {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    position: relative;
}

.carousel-card {
    padding: 1rem;
    border-radius: 20px;
    background-color: #F0F0F0;
    width: 20%;
    overflow: hidden;
    min-height: 200px;
}

.carousel-card h1 {
    font-size: 30px;
}

.carousel-card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.carousel-btn-prev {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
}

.leftArrow {
    background-color: aqua;
}

.carousel-btn-next {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
}

.photoName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profilePic {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}